<form [formGroup]="usuarioForm">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <h3>Nome</h3>
        <input type="text" class="ui-g-12" placeholder="Nome" formControlName="nome" pInputText />
      </div>
      <div class="ui-g-12">
        <h3>E-mail</h3>
        <input type="text" class="ui-g-12" placeholder="E-mail" formControlName="email" pInputText />
      </div>
      <div class="ui-g-12">
        <h3>Senha</h3>
        <input type="password" class="ui-g-12" placeholder="Senha" formControlName="senha" pPassword promptLabel="Informe uma senha" weakLabel="Senha Fraca" mediumLabel="Senha Média" strongLabel="Senha Forte" />
      </div>
      <div class="ui-g-12">
        <h3>Status</h3>
        <p-inputSwitch formControlName="statusB" [style]="{float: right}"></p-inputSwitch>
      </div>
    </div>
  </form>
  