<form [formGroup]="agendamentoItensForm">
  <div class="ui-g ui-fluid agendamento-itens-form">
    <div class="ui-g-12">
      <h3>Produto</h3>
      <p-autoComplete class="ui-g-12" [suggestions]="dadosProdutos" formControlName="produto" (completeMethod)="getProdutos($event)"
        field="descricao" [forceSelection]="true" [dropdown]="true" dataKey="idproduto" (onSelect)="apiService.aoSelecionar(agendamentoItensForm, 'idproduto', 'produto', $event)">
        <ng-template let-produto pTemplate="item">
          <div *ngIf="produto.descricao">Descrição: {{produto.descricao}}</div>
          <div *ngIf="produto.preco">Valor: {{produto.preco | currency:'BRL':true}}</div>
        </ng-template>
      </p-autoComplete>
    </div>
    <div class="ui-g-12">
      <h3>Quantidade</h3>
      <input type="number" class="ui-g-12" min="1" placeholder="Quantidade" formControlName="quantidade" pInputText />
    </div>
    <div class="ui-g-12">
      <h3>Valor Unitário</h3>
      <input type="text" class="ui-g-12" placeholder="Valor Unitário" currencyMask formControlName="vlrunitario"
        pInputText />
    </div>
    <div class="ui-g-12">
      <h3>Desconto</h3>
      <input type="text" class="ui-g-12" placeholder="Desconto" currencyMask formControlName="desconto" pInputText />
    </div>
    <div class="ui-g-12">
      <h3>Valor Total</h3>
      <input type="text" class="ui-g-12" placeholder="Valor Total" currencyMask formControlName="vlrtotal" pInputText />
    </div>
  </div>
</form>
