<p-card [title]="pessoa.nome" [subtitle]="'Contato: ' + pessoa.telefone">
  <div>
    <p-table *ngIf="pedidoItens.length > 0" [columns]="columnsPedidoItens" [value]="pedidoItens">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{col.field(rowData)}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-footer>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div>
        <span>{{pedido.valor | currency:'BRL':true}}</span>
      </div>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button pButton icon="pi pi-trash" (click)="excluir()"></button>
        <button pButton icon="pi pi-pencil" (click)="editar()"></button>
      </div>
    </div>
  </p-footer>
</p-card>
<p-dialog [(visible)]="dialog" [header]="'Pedido ' + pedido.idpedido" appendTo="body" [modal]="true" [responsive]="true"
  showEffect="fade">
  <app-pedido #pedidoFn *ngIf="dialog" [idpedido]="pedido.idpedido"></app-pedido>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton icon="pi pi-times" (click)="cancelar()" label="Cancelar"></button>
      <button pButton icon="pi pi-check" (click)="salvar()" label="Salvar"></button>
    </div>
  </p-footer>
</p-dialog>
