:host /deep/ .ui-card-title {
  font-size: 1.2em;
}

:host /deep/ .ui-card-subtitle {
  font-size: 0.9em;
}

:host /deep/ th,
:host /deep/ td {
  font-size: 0.8em;
}

:host /deep/ .ui-steps .ui-steps-item .ui-menuitem-link {
  padding: 0.7em;
}
