<p-card #cardpedido *ngIf="pessoa" [style]="{'margin-bottom': '10px'}" [title]="pessoa.nome" [subtitle]="'Contato: ' + pessoa.telefone" [class.agendamento]="agendamento">
  <div fxLayout="column">
    <p-message *ngIf="!dados.idpedido" severity="info" text="Agendado, sem pedido cadastrado" styleClass="mb-5"></p-message>
    <p-message *ngIf="dados.idpedido && dados.idagendamento" severity="info" text="Agendamento" styleClass="mb-5"></p-message>
    <div *ngIf="dados.idpedido && !etapa.finalizado && compareDate(10)"  [ngSwitch]="mensagemExpira">
      <p-message *ngSwitchCase="0" severity="error" text="Pedido expirado"></p-message>
      <p-message *ngSwitchCase="10" severity="warn" text="Pedido expirando"></p-message>
    </div>
    <p-steps [model]="periodos" [activeIndex]="etapa.finalizado ? (periodos.length - 1) : 0" [style]="{'max-height': '90px'}"></p-steps>
    <div #panelshow></div>
    <p-overlayPanel #table [style]="{'max-width': '320px'}" [showCloseIcon]="true">
      <p-table *ngIf="itens.length > 0" [columns]="columnsItens" [value]="itens">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ngClass]="col.class">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" [ngClass]="col.class">
              {{col.field(rowData)}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-overlayPanel>
    <button type="text" icon="pi pi-search" pButton label="Itens" (click)="table.toggle($event)"  class="mt-10" ></button>
  </div>
  <p-footer>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div>
        <span>{{dados.valor | currency:'BRL':"symbol"}}</span>
      </div>
      <div *ngIf="dados.idpedido" class="ui-dialog-buttonpane ui-helper-clearfix">
        <button *ngIf="etapa.geralancamento && !dados.idlancamento" pButton icon="pi pi-file" (click)="lancamentoModal()" class="ml-10"></button>
        <button pButton icon="pi pi-pencil" (click)="editar()" class="ml-10"></button>
        <button pButton icon="pi pi-trash" (click)="excluir()" class="ml-10"></button>
      </div>
    </div>
  </p-footer>
</p-card>
