<app-filtros searchDesabilitado="true" [dados]="{filtros: filtros}" (alterarFiltro)="alterarFiltro($event.filtro, $event.index, $event.valor)" (filtrar)="filtrar($event)"></app-filtros>
<div fxLayout="row">
  <p-card fxFlex="1 0 300px" fxFlexOffset="10px" *ngFor="let item of scrumboard">
    <p-header fxLayout="row" fxLayoutAlign="space-between center">
      <h2>{{item.header}}</h2>
      <button class="mr-10" type="button" pButton icon="pi pi-plus" (click)="adicionar(item)"></button>
    </p-header>
    <div dragula="timeline" [(dragulaModel)]="item.dados" (dragulaModelChange)="log($event,item)">
      <div class="ui-helper-clearfix" *ngFor="let pedido of item.dados; let i = index" [attr.data-index]="i">
        <app-cardpedido  [pedido]="pedido" (excluirPedido)="excluirPedido($event)" (setPedido)="setPedido($event)" [idetapa]="item.idetapa" [ordem]="i"></app-cardpedido>
      </div>
    </div>
  </p-card>
</div>
<p-dialog [(visible)]="cadastroPedido" [header]="pedido.idpedido ? ('Pedido ' + pedido.idpedido) : 'Novo Pedido'" appendTo="body" [modal]="true"
  showEffect="fade">
  <app-pedido #pedidoFn *ngIf="cadastroPedido" [source]="pedido" [idpedido]="pedido.idpedido"></app-pedido>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton icon="pi pi-check" (click)="salvar()" label="Salvar" class="ml-10"></button>
    </div>
  </p-footer>
</p-dialog>
