<app-filtros searchDesabilitado="true" [dados]="{filtros: filtros}" (alterarFiltro)="alterarFiltro($event.filtro, $event.index, $event.valor)" (filtrar)="filtrar($event)"></app-filtros>
<div fxLayout="row">
  <p-card fxFlex="1 0 320px" fxFlexOffset="10px" *ngFor="let item of scrumboard">
    <p-header fxLayout="row" fxLayoutAlign="space-between center">
      <h2>{{item.header}}</h2>
      <button class="mr-10" type="button" pButton icon="pi pi-plus" (click)="adicionar(item)"></button>
    </p-header>
    <div #dragulaM dragula="timeline" [(dragulaModel)]="item.dados" class="timeline">
      <div class="ui-helper-clearfix" *ngFor="let pedido of item.dados; let i = index" [attr.data-index]="i">
        <app-cardpedido  [pedido]="pedido" (excluirPedido)="excluirPedido($event)" (lancamento)="dialogLancamento($event)" (setPedido)="setPedido($event)" [etapa]="item" [ordem]="i"></app-cardpedido>
      </div>
      <div class="ui-helper-clearfix naomover" *ngFor="let agendamento of item.agendamentos; let i = index" [attr.data-index]="i">
        <app-cardpedido  [agendamento]="agendamento" [etapa]="item" [ordem]="i"></app-cardpedido>
      </div>
    </div>
    <div class="timeline">

    </div>
  </p-card>
</div>
<p-blockUI [blocked]="carregando">
  <i class="pi pi-spin pi-spinner centralize-spinner"></i>
</p-blockUI>
<p-dialog [(visible)]="cadastroPedido" [header]="pedido.idpedido ? ('Pedido ' + pedido.idpedido) : 'Novo Pedido'" appendTo="body" [modal]="true"
  showEffect="fade" [contentStyle]="{'max-height': '600px', 'max-width': '800px'}">
  <app-block-div #blockdivdialogPedido>
    <app-pedido #pedidoFn *ngIf="cadastroPedido" [source]="pedido" [idpedido]="pedido.idpedido"></app-pedido>
  </app-block-div>
  <p-blockUI [target]="blockdivdialogPedido" [blocked]="submit">
    <i class="pi pi-spin pi-spinner centralize-spinner dialog"></i>
  </p-blockUI>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton icon="pi pi-check" (click)="salvar()" [disabled]="submit" label="Salvar" class="ml-10"></button>
    </div>
  </p-footer>
</p-dialog>
<p-dialog [(visible)]="cadastroLancamento" [header]="(lancamento ? ('Lancamento ' + lancamento.idlancamento) : 'Gerar Lançamento') + (' - Ref. Pedido: ' + lancamento.idpedido)" appendTo="body" [modal]="true" showEffect="fade" [style]="{'max-width': '450px'}">
  <app-block-div #blockdivdialogLancamento>
    <app-lancamento #lancamentoFn *ngIf="cadastroLancamento" [vinculoPessoa]="true" [source]="lancamento" [idlancamento]="lancamento ? lancamento.idlancamento : null"></app-lancamento>
  </app-block-div>
  <p-blockUI [target]="blockdivdialogLancamento" [blocked]="submit">
    <i class="pi pi-spin pi-spinner centralize-spinner dialog"></i>
  </p-blockUI>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton icon="pi pi-check" (click)="salvarLancamento()" [disabled]="submit" label="Salvar" class="ml-10"></button>
      <button pButton icon="pi pi-check" (click)="cancelarLancamento()" [disabled]="submit" label="Cancelar" class="ml-10"></button>
    </div>
  </p-footer>
</p-dialog>
<p-confirmDialog></p-confirmDialog>
