.scrumboard{
    background: #ffffff;
    display: flex;
    padding: 0 5px;
    height: calc(100vh - 80px);
    overflow-x: scroll;

}

:host /deep/ h2 {
  padding: 10px;
}


:host /deep/ p-card {
  -webkit-box-shadow: -1px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 3px 0px rgba(0,0,0,0.75);
}