<p-table #dt [value]="dados" [columns]="columns" [responsive]="true" (onRowSelect)="onRowSelect($event)" selectionMode="single" [scrollable]="true"
  [(selection)]="selecionado" [rows]="20" >
  <ng-template pTemplate="caption">
    <app-filtros [dados]="dt" (search)="dt.filterGlobal($event, 'contains')" (alterarFiltro)="dt.filtroChange($event.filtro, $event.index, $event.valor)" (filtrar)="dt.filtrar($event)"></app-filtros>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns; let i = index" [attr.data-index]="i" [ngClass]="[col.class || '', col.field]" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns" [ngClass]="[col.class || '', col.field]">
        {{col.fn ? col.fn(rowData[col.field]) : rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:right">
      <button type="button" pButton icon="pi pi-plus" (click)="dialogoAdd()" label="Adicionar"></button>
    </div>
  </ng-template>
</p-table>
<p-blockUI [blocked]="carregando">
  <i class="pi pi-spin pi-spinner centralize-spinner"></i>
</p-blockUI>
<p-dialog #dialogcad [header]="cad.header" [(visible)]="exibirDialog" appendTo="body" [responsive]="true" showEffect="fade"
  [modal]="true" [contentStyle]="{'max-width': '800px'}">
  <app-block-div #blockdivdialog>
    <template #dialogContainer></template>
  </app-block-div>
  <p-blockUI [target]="blockdivdialog" [blocked]="submit">
    <i class="pi pi-spin pi-spinner centralize-spinner dialog"></i>
  </p-blockUI>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *ngIf="selecionado && selecionado[cad.chave]" pButton icon="pi pi-trash" [disabled]="submit" (click)="remover()" style="float: left;"></button>
      <button pButton icon="pi pi-check" [disabled]="submit" (click)="salvar()" label="Salvar"></button>
      <button pButton icon="pi pi-times" [disabled]="submit" (click)="cancelar()" label="Cancelar"></button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog [key]="cad.resource" appendTo="body"></p-confirmDialog>
