<p-table #dt [value]="dados" [columns]="columns" [responsive]="true" selectionMode="single"
  [(selection)]="selecionado" [paginator]="true" [rows]="20" >
  <ng-template pTemplate="caption">
    <app-filtros [dados]="dt" (search)="dt.filterGlobal($event, 'contains')" (alterarFiltro)="dt.filtroChange($event.filtro, $event.index, $event.valor)" (filtrar)="dt.filtrar($event)"></app-filtros>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns; let i = index" [attr.data-index]="i" [ngClass]="[col.class || '', col.field]" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th class="botoes-opcoes">Opções</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" [ngClass]="[col.class || '', col.field]">
        {{col.fn ? col.fn(rowData[col.field]) : rowData[col.field]}}
      </td>
      <td class="botoes-opcoes">
          <button pButton icon="pi pi-pencil" (click)="dt.editar(rowData)" class="mr-10"></button>
          <button pButton icon="pi pi-trash" (click)="dt.remover()"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:right">
      <button type="button" pButton icon="pi pi-plus" (click)="dialogoAdd()" label="Adicionar"></button>
    </div>
  </ng-template>
</p-table>
<p-dialog [header]="cad.header" [(visible)]="exibirDialog" appendTo="body" [responsive]="true" showEffect="fade"
  [modal]="true" [contentStyle]="{'max-height': '600px', 'max-width': '800px'}">
  <template #dialogContainer></template>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <p-progressSpinner *ngIf="submit" [style]="{'height': '28px', 'width': '28px', 'margin-right': '10px', 'margin-bottom': '0px'}"></p-progressSpinner>
      <button pButton icon="pi pi-check" [disabled]="submit" (click)="salvar()" label="Salvar"></button>
      <button pButton icon="pi pi-times" [disabled]="submit" (click)="cancelar()" label="Cancelar"></button>
    </div>
  </p-footer>
</p-dialog>
