/* You can add global styles to this file, and also import other style files */
.fix-body {
  height: calc(100% - 50px);
  overflow: auto;
  position: absolute;
  top: 50px;
  width: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}

body,
html {
  position: relative;
  height: 100%;
}

body>app-root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

body>app-root>* {
  height: 100%;
  max-height: 100%;
}

.id,
.status {
  width: 80px;
}

.valor:not(th),
.preco:not(th) {
  text-align: right;
}

.valor,
.preco {
  width: 140px;
  max-width: 140px;
}

.unidade,
.descricao {
  width: 100px;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-left: 10px !important;
}

h4,
h3 {
  margin-block-start: 0.5em !important;
  margin-block-end: 0.5em !important;
}
